@charset "euc-kr";






/* .content_area{width: 800px;}
.title_area{background:#7ba8dd url(http://www.afreecatv.com/images/help/bg_titlebottom.gif) 0 bottom no-repeat;padding-bottom:9px}
.title_area div{background:#7ba8dd url(http://www.afreecatv.com/images/help/bg_titletop.gif) 0 top no-repeat;color:#fff;padding-top:10px;position:relative;wi}
.title_area div p{color:#fff;font-weight:bold;font-size:14px;background:url(http://www.afreecatv.com/images/help/img_q.gif) 0 1px no-repeat;padding:0 0 0 21px;margin:0 0 0 10px;width:622px;word-break:break-all;line-height:1.3em}
.title_area div span{color:#fff;font-size:11px;font-family:verdana;position:absolute;right:10px;bottom:0}
.view_area{padding:25px 20px 17px 30px;color:#444;word-break:break-all;line-height:1.8em}
.view_area p{margin:5px 0} */
