<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.BlacklistMapper">

	<insert id="insert" parameterType="blacklist">
		insert into blacklist values(seq_bl_num.nextval,#{m_num},#{bj_num})
	</insert>
	
	<delete id="delete" parameterType="blacklist">
		delete from blacklist where m_num=#{m_num} and bj_num=#{bj_num}
	</delete>
	
	<select id="getlist" resultType="blacklist" parameterType="int">
		select bb.*,aa.id from member aa,(select * from blacklist where bj_num=#{bj_num})bb
		where aa.m_num = bb.m_num
	</select>
	
	<select id="getcount" resultType="int">
		select NVL(count(m_num),0) cnt from blacklist where bj_num=#{bj_num}
	</select>
	
</mapper>