<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.BoardMapper">
	<select id="insert" resultType="board">
		insert into board values(
					seq_b_num.nextval,#{b_title},#{b_content},TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'),
					#{b_hit},#{b_notice},#{b_delete},#{m_num},#{bj_num},#{category_num}
					)
	</select>
	<update id="update" parameterType="board">
		update board 
		set b_title=#{b_title}, b_content = #{b_content}, b_notice=#{b_notice},category_num=#{category_num} 
		where b_num=#{b_num}
	</update>
	<select id="getInfo" parameterType="int" resultType="board">
		select b.*,m.id from board b, member m where b.bj_num=m.m_num and b_num=#{b_num}
	</select>
	<select id="getList" resultType="board" parameterType="hashmap">
		<!--  select b.*,m.id from board b, member m where b.bj_num=m.m_num and b.category_num=#{category_num} and b.b_delete=0 order by b.b_num desc-->
		select * from(select aa.*,rownum rnum from(select b.*,m.id from board b, member m where b.m_num=m.m_num and b.category_num=#{category_num} 
		and b.b_delete=0 order by b.b_num desc) aa)<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<update id="delete" parameterType="int">
		update board
		set b_delete = 1
		where b_num=#{b_num}	
	</update>
	<update id="hitUpdate" parameterType="int">
		update board
		set b_hit = b_hit+1
		where b_num=#{b_num}
	</update>
	<select id="getCount" parameterType="hashmap" resultType="int">
			select NVL(count(m_num),0) cnt from board 
			<where>
				<if test="category_num == null">
					and m_num = #{m_num}
				</if>
				<if test="category_num != null">
					and category_num = #{category_num}
				</if>
				and b_delete = 0
			</where>
	</select>
</mapper>