<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.BoardReplyMapper">
	<insert id="insert" parameterType="boardreply">
		insert into board_reply values(seq_br_num.nextval,#{br_content},TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'),0,#{b_num},#{m_num})
	</insert>
	<update id="delete" parameterType="int">
		update board_reply set br_delete=1 where br_num=#{br_num}
	</update>
	<update id="update" parameterType="boardreply">
		update board_reply set br_content=#{br_content},br_regdate=TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI') where br_num=#{br_num}
	</update>
	<select id="getInfo" parameterType="int" resultType="boardreply">
		select * from board_reply where br_num=#{br_num}
	</select>
	<select id="getList" parameterType="hashmap" resultType="boardreply">
		select * from(
		select bb.*,rownum rnum from(select br.*,m.id,aa.brucnt,rownum r1 from board_reply br,member m,
		(select br.br_num, count(bru.br_num) brucnt from board_reply br, board_reply_up bru 
		where br.br_num=bru.br_num(+) and br.br_delete=0 and br.b_num=#{b_num} group by br.br_num) aa
		where br.br_num=aa.br_num and br.m_num=m.m_num order by br.br_num desc)bb)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="getCount" parameterType="int" resultType="int">
		select NVL(count(br_num),0) cnt from board_reply where b_num=#{b_num} and br_delete=0
	</select>
	
</mapper>