<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.BoardReportMapper">
	<insert id="insert" parameterType="boardreport">
		insert into board_report values(#{b_num},#{m_num})
	</insert>
	<select id="getCount" parameterType="int" resultType="int">
		select NVL(count(*),0) cnt from board_report where b_num=#{b_num}
	</select>
	<select id="isCheck" parameterType="boardreport" resultType="boardreport">
		select * from board_report where m_num=#{m_num} and b_num=#{b_num} 
	</select>
	
	<select id="getListAdmin" resultType="board" parameterType="hashmap">
		select * from
		(select aa.b_num,m.id,b.b_title,aa.b_report,m1.id bj_id,b.category_num,c.category_name,rownum rnum from 
		(select b_num,count(b_num) b_report from board_report group by b_num order by b_report desc)aa, board b,category c,member m, member m1
		where aa.b_num=b.b_num and b_delete=0 and m.m_num=b.m_num and m1.m_num=b.bj_num and b.category_num=c.category_num)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="getCountAdmin" resultType="int">
		select NVL(count(a.b_num),0) cnt from
		(select b_num,count(b_num) b_report from board_report group by b_num)a,board b
		where a.b_num=b.b_num and b.b_delete=0
	</select>
	
	<select id="getList">
		select * from board_report where b_num=#{b_num}
	</select>
</mapper>