<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.GradeMapper">
	<select id="getInfo" parameterType="int" resultType="grade">
		select * from grade where grade_num=#{grade_num}
	</select>
	<select id="getList" resultType="grade">
		select * from grade
	</select>
</mapper>