<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.MsgMapper">

	<insert id="insert" parameterType="msg">
		insert into message values(seq_msg_num.nextval,#{msg_title},#{msg_content},TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'),#{msg_view_date},#{msg_receive_delete},#{msg_send_delete},#{m_numS},#{m_numR})
	</insert>
	
	<select id="getsendlist" resultType="msg" parameterType="hashmap">
		select * from
		(select aa.*,rownum rnum from
		(select msg.*,m.id from message msg, member m where msg.m_numR=m.m_num and msg.m_numS=#{m_numS} and msg_send_delete=0 order by msg.msg_num desc) aa)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="getrecvlist" resultType="msg" parameterType="hashmap">
		select * from
		(select aa.*,rownum rnum from
		(select msg.*,m.id from message msg, member m where msg.m_numS=m.m_num and msg.m_numR=#{m_numR} and msg_send_delete=0 order by msg.msg_num desc) aa)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<update id="viewdate">
		update message set msg_view_date=1 where msg_num=#{msg_num}
	</update>
	
	<update id="senddelete">
		update message set msg_send_delete=1 where msg_num=#{msg_num}
	</update>
	
	<update id="recvdelete">
		update message set msg_receive_delete=1 where msg_num=#{msg_num}
	</update>
	
	<select id="sendcount" resultType="int">
		select NVL(count(msg_num),0) cnt from message where m_numS=#{m_numS} and msg_send_delete=0
	</select>
	
	<select id="recvcount" resultType="int">
		select NVL(count(msg_num),0) cnt from message where m_numR=#{m_numR} and msg_receive_delete=0
	</select>
	<select id="recvmsg" parameterType="int" resultType="msg">
		select msg.*,m.id,m.name  from message msg, member m where msg.m_nums=m.m_num and m.m_numr=#{m_numr}
	</select>
	<select id="sendmsg" parameterType="int" resultType="msg">
		select msg.*,m.id,m.name  from message msg, member m where msg.m_numr=m.m_num and m.m_nums=#{m_nums}
	</select>
	
</mapper>