<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- alias -->
		<typeAlias type="com.yourcast.app.vo.BlacklistVO" alias="blacklist"/>
		<typeAlias type="com.yourcast.app.vo.BoardVO" alias="board"/>		
		<typeAlias type="com.yourcast.app.vo.VideoVO" alias="video"/>		
		<typeAlias type="com.yourcast.app.vo.BookmarkVO" alias="bookmark"/>		
		<typeAlias type="com.yourcast.app.vo.ProfitVO" alias="profit"/>		
		<typeAlias type="com.yourcast.app.vo.FanVO" alias="fan"/>		
		<typeAlias type="com.yourcast.app.vo.VideoReportVO" alias="videoreport"/>		
		<typeAlias type="com.yourcast.app.vo.PayVO" alias="pay"/>
		<typeAlias type="com.yourcast.app.vo.MsgVO" alias="msg"/>
		<typeAlias type="com.yourcast.app.vo.StarUseVO" alias="staruse"/>
		<typeAlias type="com.yourcast.app.vo.VideoReplyReportVO" alias="videoreplyreport"/>
		<typeAlias type="com.yourcast.app.vo.BoardReplyUpVO" alias="boardreplyup"/>
		<typeAlias type="com.yourcast.app.vo.VideoReplyUpVO" alias="videoreplyup"/>
		<typeAlias type="com.yourcast.app.vo.MemberVO" alias="member"/>
		<typeAlias type="com.yourcast.app.vo.BoardReplyVO" alias="boardreply"/>
		<typeAlias type="com.yourcast.app.vo.VideoReplyVO" alias="videoreply"/>
		<typeAlias type="com.yourcast.app.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.yourcast.app.vo.BuyVO" alias="buy"/>
		<typeAlias type="com.yourcast.app.vo.MemberProfileVO" alias="profile"/>
		<typeAlias type="com.yourcast.app.vo.BoardReportVO" alias="boardreport"/>
		<typeAlias type="com.yourcast.app.vo.BlacklistVO" alias="blacklist" />
		<typeAlias type="com.yourcast.app.vo.BoardUpVO" alias="boardup" />
		<typeAlias type="com.yourcast.app.vo.CategoryVO" alias="category" />
		<typeAlias type="com.yourcast.app.vo.VideoUpVO" alias="videoup" />
		<typeAlias type="com.yourcast.app.vo.SubscribeVO" alias="subscribe" />
		<typeAlias type="com.yourcast.app.vo.BoardReplyReportVO"
			alias="boardreplyreport" />
		<typeAlias type="com.yourcast.app.vo.ExchangeVO" alias="exchange" />
		<typeAlias type="com.yourcast.app.vo.BroadcastVO" alias="broadcast" />
		<typeAlias type="com.yourcast.app.vo.GenreVO" alias="genre"/>
		<typeAlias type="com.yourcast.app.vo.AgeGradeVO" alias="agegrade"/>
	</typeAliases>


	<mappers>
		<!-- Mapper -->
		<mapper resource="com/jhta/mybatis/BlacklistMapper.xml" />
		<mapper resource="com/jhta/mybatis/BoardMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoMapper.xml" />
		<mapper resource="com/jhta/mybatis/BookmarkMapper.xml" />	
		<mapper resource="com/jhta/mybatis/ProfitMapper.xml" />	
		<mapper resource="com/jhta/mybatis/FanMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoReportMapper.xml" />
		<mapper resource="com/jhta/mybatis/PayMapper.xml" />
		<mapper resource="com/jhta/mybatis/MsgMapper.xml" />
		<mapper resource="com/jhta/mybatis/StarUseMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoReplyReportMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoReplyUpMapper.xml" />
		<mapper resource="com/jhta/mybatis/BoardReplyUpMapper.xml" />
		<mapper resource="com/jhta/mybatis/MemberMapper.xml" />
		<mapper resource="com/jhta/mybatis/BoardReplyMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoReplyMapper.xml"/>
		<mapper resource="com/jhta/mybatis/NoticeMapper.xml"/>
		<mapper resource="com/jhta/mybatis/BuyMapper.xml"/>
		<mapper resource="com/jhta/mybatis/MemberProfileMapper.xml"/>
		<mapper resource="com/jhta/mybatis/BoardReportMapper.xml"/>
		<mapper resource="com/jhta/mybatis/BoardUpMapper.xml" />
		<mapper resource="com/jhta/mybatis/CategoryMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoUpMapper.xml" />
		<mapper resource="com/jhta/mybatis/SubscribeMapper.xml" />
		<mapper resource="com/jhta/mybatis/BoardReplyReportMapper.xml" />
		<mapper resource="com/jhta/mybatis/ExchangeMapper.xml" />
		<mapper resource="com/jhta/mybatis/BroadcastMapper.xml" />
		<mapper resource="com/jhta/mybatis/GenreMapper.xml" />
		<mapper resource="com/jhta/mybatis/AgeGradeMapper.xml" />
	</mappers>

</configuration>