<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<!-- alias -->
		<typeAlias type="com.yourcast.app.vo.BlacklistVO" alias="blacklist"/>
		<typeAlias type="com.yourcast.app.vo.MemberVO" alias="member"/>
		<typeAlias type="com.yourcast.app.vo.BoardReplyVO" alias="boardreply"/>
		<typeAlias type="com.yourcast.app.vo.VideoReplyVO" alias="videoreply"/>
		<typeAlias type="com.yourcast.app.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.yourcast.app.vo.BuyVO" alias="buy"/>
		<typeAlias type="com.yourcast.app.vo.MemberProfileVO" alias="profile"/>
		<typeAlias type="com.yourcast.app.vo.BoardReportVO" alias="boardreport"/>
	</typeAliases>
	
	
	<mappers>
		<!-- Mapper -->
		<mapper resource="com/jhta/mybatis/BlacklistMapper.xml" />
		<mapper resource="com/jhta/mybatis/MemberMapper.xml" />
		<mapper resource="com/jhta/mybatis/BoardReplyMapper.xml" />
		<mapper resource="com/jhta/mybatis/VideoReplyMapper.xml"/>
		<mapper resource="com/jhta/mybatis/NoticeMapper.xml"/>
		<mapper resource="com/jhta/mybatis/BuyMapper.xml"/>
		<mapper resource="com/jhta/mybatis/MemberProfileMapper.xml"/>
		<mapper resource="com/jhta/mybatis/BoardReportMapper.xml"/>
	</mappers>
</configuration>