<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.StarUseMapper">

	<insert id="insert" parameterType="staruse">
		insert into use values(seq_use_num.nextval,TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'),#{use_ea},#{m_num},#{bj_num})
	</insert>
	
	<select id="getsendlist" resultType="staruse" parameterType="staruse">
		select * from
		(select a.*,m.id,rownum rnum from
		(select * from use 
		where m_num=#{m_num} order by use_num desc)a, member m where a.bj_num=m.m_num)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="getrecvlist" resultType="staruse" parameterType="staruse">
		select * from
		(select a.*,m.id,rownum rnum from
		(select * from use
		where bj_num=#{bj_num} order by use_num desc)a, member m where a.m_num=m.m_num)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="getsendcount" resultType="int">
		select NVL(count(bj_num),0) cnt from use where m_num=#{m_num}
	</select>
	
	<select id="getrecvcount" resultType="int">
		select NVL(count(m_num),0) cnt from use where bj_num=#{bj_num}
	</select>
	
	<select id="getSendEa" resultType="int">
		select NVL(sum(use_ea),0) total_use_ea from use where m_num=#{m_num}
	</select>
	
	<select id="getRecvEa" resultType="int">
		select NVL(sum(use_ea),0) total_recv_ea from use where bj_num=#{bj_num}
	</select>
	
	<select id="hotfanList" resultType="staruse" parameterType="int">
		select a.*,m.id,rownum rnum from (select m_num from use where bj_num = #{bj_num} 
		group by m_num order by sum(use_ea) desc)a,member m 
		<![CDATA[ where a.m_num=m.m_num and rownum <= 5  ]]>
	</select>
	
</mapper>