<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.SubscribeMapper">
	<insert id="insert" parameterType="subscribe">
		insert into subscribe values (#{m_num},#{bj_num})
	</insert>
	
	<select id="getlist" parameterType="int" resultType="subscribe">
		select * from subscribe where m_num = #{m_num}
	</select>
	
	<select id="isBookmark" parameterType="subscribe" resultType="subscribe">
		select * from subscribe where m_num = #{m_num} and bj_num=#{bj_num}
	</select>
	
	<delete id="delete" parameterType="subscribe">
		delete from subscribe where m_num = #{m_num} and bj_num = #{bj_num}
	</delete>
	
	
</mapper>