<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.VideoReportMapper">
	<select id="insert" resultType="videoreport">
		insert into video_report values(#{v_num},#{m_num})
	</select>
	<select id="getCount" parameterType="int" resultType="int">
			select NVL(count(v_num),0) cnt from video_report
			where v_num = #{v_num}
	</select>
	<select id="check" parameterType="videoreport" resultType="videoreport">
		select * from video_report where m_num=#{m_num} and v_num=#{v_num}
	</select>
	
	<select id="getListAdmin" resultType="video" parameterType="hashmap">
		select * from
		(select aa.v_num,m.id,v.v_title,aa.v_report,v.v_savethumbnail,g.genre_name,a.age_grade_name,rownum rnum from 
		(select v_num,count(v_num) v_report from video_report group by v_num order by v_report desc)aa, video v, member m,genre g,age_grade a
		where aa.v_num=v.v_num and v_delete=0 and m.m_num=v.m_num and a.age_grade_num=v.age_grade_num and g.genre_num=v.genre_num)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="getCountAdmin" resultType="int">
		select NVL(count(a.v_num),0) cnt from
		(select v_num,count(v_num) v_report from video_report group by v_num)a,video v
		where a.v_num=v.v_num and v.v_delete=0
	</select>
</mapper>